<table id="<%= calendar_id %>" class="<%= calendar_class %>">
  <caption><%= l(calendar.date, format: :"kalendar.caption") %></caption>
  <thead>
    <tr>
      <% calendar.each_week_day do |day| %>
        <th>
          <span class="weekday">
            <%= l(day, format: :"kalendar.day_of_week") %>
          </span>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% calendar.each_week do |week| %>
      <tr>
        <% week.each_day do |day| %>
          <td class="<%= day.meta.join(" ") %>">
            <time class="date" datetime="<%= day.format %>">
              <%= l(day.date, format: :"kalendar.day") %>
            </time>

            <% instance_exec(day, &events_callback) if events_callback %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
